/* Estilos generales */
body {
    font-family: "La Rapidita", sans-serif;
    color: black;
}

/* Estilo para la barra de navegación */
.navbar-custom {
    background-color: transparent;
    background-image: url('https://static.vecteezy.com/system/resources/previews/026/087/667/non_2x/beautiful-landscape-snowy-background-snowdrifts-snowfall-clear-blue-sky-blizzard-cartoon-wallpaper-winter-season-forest-trees-and-mountains-design-for-website-poster-banner-vector.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    font-family: 'monospace', serif;
}
.icon1 {
    width: 40px; /* Tamaño de ícono personalizado */
    height: auto; /* Altura automática para mantener la proporción */
    vertical-align: middle;
}

.navbar-toggler-icon {
    color: black;
}

.navbar-custom .navbar-nav .nav-link {
    color: #1a1d20;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-custom .navbar-nav .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar-custom .btn-outline-success {
    background-color: #28a745;
    color: #fff;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-custom .btn-outline-success:hover {
    background-color: #218838;
}

/* Estilos de la sección personalizada */
.custom-section {
    padding: 40px 0;
    background-color: steelblue;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
h3{
    color: black;
}
.custom-section h4 {
    color: #fff3cd;
}

.custom-section p {
    font-size: 16px;
    margin-bottom: 20px;
}

.custom-section img {
    max-width: 100%;
    height: auto;
}

/* Estilos del carrusel */
.carousel-inner {
    text-align: center;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: left;
    padding: 10px;
}

.carousel-item img {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

/* Estilos personalizados para pantallas más pequeñas */
@media (max-width: 768px) {
    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        text-align: left;
        padding: 10px;
    }

    .carousel-caption h3 {
        font-size: 18px;
    }
}

/* Estilos del pie de página */
footer {
    background-color: #007bff;
    background-image: url('https://i4.visitchile.com/img/GalleryContent/8906/chacao.jpg');
    background-size: cover;
    background-position: initial;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilos de los iconos de redes sociales en el pie de página */
.navbar-custom .navbar-nav a img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 0 10px;
}

/* Estilos personalizados para los iconos de redes sociales */
.icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
}